body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evitar overflow horizontal */
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden; /* Evitar overflow horizontal */
}